html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial;
  padding: 0px 15px 0px 15px;
  background: #fff url(../img/servicesbg.png);
}

/*NAV LINKS STYLES*/
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
  padding: 5px 25px;
}

nav a {
  position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #0f9095;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 1.35em;
  left: 22%;
}

nav a:hover,
nav a:focus {
  outline: none;
  color: white;
}

/* Effect 8: border slight translate */
.cl-effect-8 a {
  padding: 10px 20px;
}

.cl-effect-8 a::before,
.cl-effect-8 a::after  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 3px solid #354856;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-8 a::after  {
	border-color: #fff;
	opacity: 0;
	-webkit-transform: translateY(-7px) translateX(6px);
	-moz-transform: translateY(-7px) translateX(6px);
	transform: translateY(-7px) translateX(6px);
}

.cl-effect-8 a:hover::before,
.cl-effect-8 a:focus::before {
	opacity: 0;
	-webkit-transform: translateY(5px) translateX(-5px);
	-moz-transform: translateY(5px) translateX(-5px);
	transform: translateY(5px) translateX(-5px);
}

.cl-effect-8 a:hover::after,
.cl-effect-8 a:focus::after  {
	opacity: 1;
	-webkit-transform: translateY(0px) translateX(0px);
	-moz-transform: translateY(0px) translateX(0px);
	transform: translateY(0px) translateX(0px);
}

/* Header/Blog Title */
.header {
  font-size: 50px;
  padding-left: 50px;
  background: url(../img/header.jpg);
  background-size: cover;
  height: 97vh;
  color: #0f9095;
}

.definition {
  font-size: 1.25rem;
  color: #0f9095;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 100%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Title images*/
.title-img-1 {
  width: 103%;
  padding: 20px;
  height: 50vh;
  background: url(../img/java-cropped.png);
  background-size: cover;
}

.title-img-2 {
  width: 103%;
  padding: 20px;
  height: 50vh;
  background: url(../img/Python-Programming-black.jpg);
  background-size: cover;
}

/* Add a card effect for articles */
.card {
  background-color: #0f9095;
  padding: 5px 20px;
  margin-top: 10px;
  color:white;
}

.card-about {
  margin-top: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

table {
  width: 100%;
  background: #fff url(../img/grey.png);
  color: #A3A3A3;
}

.profile {
  text-align: center;
  width: 30%;
}

.profile-info {
  width: 70%;
  padding-left: 10px;
}

.profile img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

/*FORM STYLES*/
.transition, form button, form .question label, form .question input[type="text"], form .message label, form .message textarea[type="text"] {
  -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}

* {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

form {
  position: relative;
  display: inline-block;
  max-width: 700px;
  min-width: 500px;
  box-sizing: border-box;
  padding: 30px 25px;
  background-color: white;
  border-radius: 0px;
  margin: 40px 0;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
form h1 {
  color: #0f9095;
  font-weight: 100;
  letter-spacing: 0.01em;
  margin-left: 15px;
  margin-bottom: 35px;
  text-transform: uppercase;
}

form .question {
  position: relative;
  padding: 10px 0;
}
form .question:first-of-type {
  padding-top: 0;
}
form .question:last-of-type {
  padding-bottom: 0;
}
form .question label {
  transform-origin: left center;
  color: #0f9095;
  font-weight: 100;
  letter-spacing: 0.01em;
  font-size: 17px;
  box-sizing: border-box;
  padding: 10px 15px;
  display: block;
  position: absolute;
  margin-top: -40px;
  z-index: 2;
  pointer-events: none;
}
form .question input[type="text"] {
  appearance: none;
  background-color: none;
  border: 1px solid #0f9095;
  line-height: 0;
  font-size: 17px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 0px;
  color: #0f9095;
  font-weight: 300;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}

form .question input[type="text"]:focus {
  outline: none;
  background: #0f9095;
  color: white;
  margin-top: 30px;
}
form .question input[type="text"]:valid {
  margin-top: 30px;
}
form .question input[type="text"]:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}
form .question input[type="text"]:valid ~ label {
  text-transform: uppercase;
  font-style: italic;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}

/*textarea*/
form .message textarea[type="text"] {
  appearance: none;
  background-color: none;
  border: 1px solid #0f9095;
  font-size: 17px;
  width: 100%;
  height: 200px;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 0px;
  color:#0f9095;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}

form .message {
  position: relative;
  padding: 10px 0;
}
form .message:first-of-type {
  padding-top: 0;
}
form .message:last-of-type {
  padding-bottom: 0;
}
form .message label {
  transform-origin: left center;
  color:#0f9095;
  font-weight: 200;
  letter-spacing: 0.01em;
  font-size: 17px;
  box-sizing: border-box;
  padding: 10px 15px;
  display: block;
  position: absolute;
  margin-top: -200px;
  z-index: 2;
  pointer-events: none;
}

form .message textarea[type="text"]:focus {
  outline: none;
  background: #0f9095;
  color: white;
  margin-top: 30px;
}
form .message textarea[type="text"]:valid {
  margin-top: 30px;
}
form .message textarea[type="text"]:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}
form .message textarea[type="text"]:valid ~ label {
  text-transform: uppercase;
  font-style: italic;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}

/*SUBMIT BUTTON STYLES*/
/* General button style (reset) */
.btn {
border: none;
font-family: inherit;
font-size: inherit;
color: inherit;
background: none;
cursor: pointer;
padding: 5px 20px;
display: inline-block;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 700;
outline: none;
position: relative;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
}

.btn:after {
content: '';
position: absolute;
z-index: -1;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
}

/* Button-submit*/
.btn-submit {
background: #0f9095;
color: #fff;
}

.btn-submit:hover {
  background:#085457;
  color: black;
}

.btn-submit:active {
background: #f58500;
top: 2px;
}

.btn-submit:before {
position: absolute;
height: 100%;
left: 0;
top: 0;
line-height: 3;
font-size: 140%;
width: 60px;
}
/*submit button style*/
.btn-3e {
padding: 22px 50px 22px 40px;
  overflow: hidden;
  border-radius: 0px;
}

.btn-3e:before {
left: auto;
right: 10px;
z-index: 2;
}

.btn-3e:after {
width: 30%;
height: 200%;
background: rgba(255,255,255,0.1);
z-index: 1;
right: 0;
top: 0;
margin: -5px 0 0 -5px;
-webkit-transform-origin: 0 0;
-webkit-transform: rotate(-20deg);
-moz-transform-origin: 0 0;
-moz-transform: rotate(-20deg);
-ms-transform-origin: 0 0;
-ms-transform: rotate(-20deg);
transform-origin: 0 0;
transform: rotate(-20deg);
}

.btn-3e:hover:after {
width: 40%;
}

/* Footer */
.footer {
  padding: 15px;
  text-align: center;
  background: #085457;;
}

/*ScrollToTop button*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 50px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #063031;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 200px;
  font-size: 15px;
}

#myBtn:hover {
  background-color: #befdff;
  color: black;
}

/*blog title/post page styles*/
.blog-title {
  padding-top: 5px;
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: opensans-light, sans-serif;
  width: 100%;
  color:black;
}

.blog-title p {
  font-style: italic;
  font-size: 15px;
}

.blog-title h1 {
  font-size: 2.5rem;
  color: #0f9095
}

.blog-post {
  padding-left: 200px;
  padding-right: 200px;
  font-family: opensans-light, sans-serif;
  width: 100%;
  color:#0f9095;
}

.post-img {    
  width: 100%;
  height: 60vh;
}

.blog-post p {
  /*paragragh*/
  font: 16px/30px opensans-regular, sans-serif;
  font-size: 15px;
  padding: 5px;
}

.blog-post h2 {
  color: black;
}
/* Comments
/* ------------------------------------------------------------------ */
#comments {
  background: #E6E8EB;
  padding-bottom: 90px;
  padding-top: 101px;
  border-top: 1px solid #E0E3E6;
}
#comments h3 {
  font: 20px/30px opensans-bold, sans-serif;
  margin-bottom: 6px;
  margin-left: 16.66667%;
  color: #313131;
}

/* Comments List */
ol.commentlist {
  border-top: 1px solid #D5D9DC;
 margin: 29px 0 54px 0;
 padding: 0;
  width: 75%;
  margin-left: 16.66667%;
}
.commentlist > li {
  position: relative;
 list-style: none;
 margin: 0;
 padding: 18px 0 17px 0;
 border-bottom: 1px solid #D5D9DC;
}
.commentlist  li .avatar {
  position: absolute;
  left: -40px;
  display: block;

  height: 50px;
  width: 50px;
}
.commentlist li .avatar img {
  margin-top: 6px;
  height: 50px;
  width: 50px;

  -moz-border-radius: 100% 100% 100% 100%;
 -webkit-border-radius: 100% 100% 100% 100%;
 -khtml-border-radius: 100% 100% 100% 100%;
 border-radius: 100% 100% 100% 100%;
}
.commentlist li .comment-info cite {
  font: 15px/30px opensans-bold, sans-serif;
  color: #454545;
}
.commentlist li .comment-info .comment-meta {
  font-size: 12px;
  line-height: 24px;
  display: block;
}
.commentlist li .comment-info .comment-meta .reply {
  font-family: opensans-semibold, sans-serif;
}
.commentlist li .comment-info .comment-meta .sep {
  margin: 0 5px;
  color: #AEB6B7;
}
.commentlist li .comment-text {
 clear: both;
 margin: 24px 0 0 0;
  padding: 0;
  line-height: 24px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 823px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }

  nav a {
    margin-top: 0;
    float: none;
    font-size: .9rem;
  }

  .profile img {
    height: 90px;
    width: 90px;
  }

  form {
    max-width: 400px;
    min-width: 100px;
  }

  .blog-title h1, header h1, form h1 {
    font-size: 1.6rem;
  }

  .btn-3e {
    padding: 11px 25px 11px 20px;
  }

  .blog-title, .blog-post {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .blog-title p, .blog-post p, .card p, .profile-info p {
    font-size: .8rem;
    padding: 0px;
  }

  .footer {
    font-size: .7rem;
  }

  .card h2, .profile h2 {
    font-size: 1.2rem;
  }

  .profile h3 {
    font-size: 1rem;
  }

  .definition p {
    font-size: 15px;
  }
  
  .post-img {    
    width: 100%;
    height: 30vh;
  }

  .commentlist li .avatar img {
    height: 25px;
    width: 25px;
  }

  .commentlist  li .avatar {
    left: -20px;
  }

  nav a {
    margin: 7px 12px;
    font-size: 0.65em;
    left: 11%;
  }

  .title-img-1, .title-img-2 {
    height: 43vh;
  }

  #myBtn {
    bottom: 12px;
    right: 8px;
    padding: 5px;
    font-size: .6rem;
  }
}

/*portrait-view*/
@media screen and (max-width: 414px){
  .header {
    background-size: cover;
    height: 25vh;
    padding-left: 10px;
  }

  .header h1, form h1 {
    font-size: 1.2rem;
  }

  .card h2, .profile h2 {
    font-size: .8rem;
  }

  .profile h3 {
    font-size: .7rem;
  }

  .title-img-1, .title-img-2 {
    height: 13vh;
  }
  
  nav a {
    display: inherit;
  }
}